@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap");

@import "./styleComponents/avatar.css";
@import './styleComponents/variables.css';
@import './styleComponents/alert.css';

body {
  font-family: "Ubuntu", sans-serif;
}

.component__heading {
    font-size: 2rem;
    margin: 0;
    text-decoration: underline;
    color: var(--side-heading);
}